#wrapper{
    border: 1px solid $color03;
    margin: 50px auto;
    padding: $doubleSpacing $doubleSpacing 0 $doubleSpacing;
    position: relative;
    width: 342px;
}
.tabs{
    @include position(absolute, -37px, null, null, -1px);
    li{
        border: 1px solid $color03;
        border-width: 1px 1px 0 1px;
        cursor: pointer;
        float: left;
        font-weight: bold;
        margin-right: $defaultSpacing;
        padding: $defaultSpacing;
        &.active, &:hover{
            background: $color03;
            color: $color01;
        }
    }
}
input, textarea{
    box-sizing: border-box;
    display: block;
    margin-bottom: $doubleSpacing;
    padding: $defaultSpacing;
}
textarea{
    @include dimension(300px);
}
input{
    float: left;
    margin-right: 5%;
    width: 45%;
}
#btn{
    background-color: $color03;
    display: block;
    color: $color01;
    font-weight: bold;
    float: left;
    margin-left: 5%;
    padding: $defaultSpacing;
    text-align: center;
    width: 45%;
    &:hover{
        background-color: $color01;
        color: $color03;
        cursor: pointer;
    }
}